.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.auth-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text inside the card */
}

.auth-card h2 {
  color: #333;
}

.auth-card .form-control {
  margin-bottom: 10px;
}

.auth-card button {
  margin-top: 10px;
}

.auth-card p {
  font-size: 14px;
}

.auth-card p button {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.auth-card p button:hover {
  text-decoration: underline;
}
